.vscode
docs/build/doctrees/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Existing entries
flytenv/
config/
notebooks/
yolov5n.pt
yolov8n.pt
.cursor/
flytbase-overall-flow.drawio

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all .pyc files
*.pyc
main2.py

src/alerts/__pycache__/
src/data/__pycache__/
src/models/__pycache__/
src/storage/__pycache__/
